﻿@using Validacao.Models
@model IEnumerable<Jogador>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<table>
    <tr>
        <th>@Html.DisplayNameFor(m => m.Nome)</th>
        <th>@Html.DisplayNameFor(m => m.Numero)</th>
        <th>@Html.DisplayNameFor(m => m.Altura)</th>
    </tr>
    @foreach (var jogador in Model)
    {
    <tr>
        <td>@Html.DisplayFor(m => jogador.Nome)</td>
        <td>@Html.DisplayFor(m => jogador.Numero)</td>
        <td>@Html.DisplayFor(m => jogador.Altura)</td>
    </tr>
    }
</table>